<p style="color: green"><%= notice %></p>

<h1>Vanues</h1>

<div id="vanues">
  <% @vanues.each do |vanue| %>
    <%= render vanue %>
    <p>
      <%= link_to "Show this vanue", vanue %>
    </p>
  <% end %>
</div>

<%= link_to "New vanue", new_vanue_path %>
