<h1>Editing shoping cart</h1>

<%= render "form", shoping_cart: @shoping_cart %>

<br>

<div>
  <%= link_to "Show this shoping cart", @shoping_cart %> |
  <%= link_to "Back to shoping carts", shoping_carts_path %>
</div>
