<div id="<%= dom_id ticket_order %>">
  <p>
    <strong>Concert:</strong>
    <%= ticket_order.concert_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket_order.status %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= ticket_order.count %>
  </p>

</div>
